<section class="about_section">
  <div>
    <h2 data-i18n="about_title"></h2>
  </div>
  <div class="about_text">
    <p data-i18n="about_p_1"></p>

    <p data-i18n="about_p_2"></p>
  </div>
  {{#if read-more}}
    <a href="about-us.html" class="awe-btn awe-btn-12 about_button">
      <span data-i18n="read_more"></span>
    </a>
  {{/if}}
</section>