<!-- FOOTER -->
<footer id="footer">
  <!-- FOOTER CENTER -->
  <div class="footer_center">
    <div class="container">
      <div class="row footer-flexbox">
        <div class="col-xs-12 col-md-2">
          <div class="header_logo widget">
            <a href="#"><img src="images/logo-header.png" alt="" /></a>
          </div>
        </div>

        <div class="col-xs-4 col-md-3">
          <div class="widget">
            <ul>
              <li><a data-i18n="footer:street"></a></li>
              <li><a data-i18n="footer:city"></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-4 col-md-3">
          <div class="widget">
            <ul>
              <li><a>+38067 580 37 77</a></li>
              <li><a>tamerlanesc@gmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-4 col-md-2">
          <div class="social widget">
            <div class="social-content">
              <a href="https://www.instagram.com/tamerlan_khm"><i
                  class="fa fa-instagram"
                ></i></a>
              <a href="https://www.facebook.com/Tamerlan.khm/?locale=uk_UA"><i
                  class="fa fa-facebook"
                ></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END / FOOTER CENTER -->

  <!-- FOOTER BOTTOM -->
  <div class="footer_bottom">
    <div class="container">
      <p>
        &copy;
        <span id="footer-year"></span>
        <span data-i18n="footer:copy">Tamerlan Hotel All rights reserved.</span>
      </p>
    </div>
  </div>
  <!-- END / FOOTER BOTTOM -->
</footer>
<!-- END / FOOTER -->