<header id="header">
  <!-- HEADER TOP -->
  <div class="header_top bg_dark">
    <div class="container">
      <div class="header_left float-left">
        <span id="weather" class="weather-container"
          ><i class="lotus-icon-cloud"></i> 18 °C</span
        >
        <span
          ><i class="lotus-icon-location"></i>
          <span data-i18n="header:city"
            >Beach Street, Australian</span
          ></span
        >
        <span><i class="lotus-icon-phone"></i> +38067 580 37 77</span>
      </div>
      <div class="header_right float-right">
        <div class="dropdown language">
          <span data-i18n="header:locale"></span>

          <ul>
            <li class="lang-switch active">
              <a data-lang="ua" href="#">UA</a>
            </li>
            <li class="lang-switch"><a data-lang="en" href="#">EN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END / HEADER TOP -->

  <!-- HEADER LOGO & MENU -->
  <div class="header_content" id="header_content">
    <div class="container">
      <!-- HEADER LOGO -->
      <div class="header_logo">
        <a href="#"><img src="images/logo-header.png" alt="" /></a>
      </div>
      <!-- END / HEADER LOGO -->

      <!-- HEADER MENU -->
      <nav class="header_menu">
        <ul class="menu">
          <li>
            <a href="index.html" data-i18n="header:nav_home"></a>
          </li>
          <li class="{{#if activities}}current-menu-item{{/if}}">
            <a href="activities.html" data-i18n="header:nav_activities"></a>
          </li>

          <li class="{{#if location}}current-menu-item{{/if}}">
            <a href="location.html" data-i18n="header:nav_location"></a>
          </li>

          <li class="{{#if about-us}}current-menu-item{{/if}}">
            <a href="about-us.html" data-i18n="header:nav_about"></a>
          </li>
        </ul>
      </nav>
      <!-- END / HEADER MENU -->

      <!-- MENU BAR -->
      <span class="menu-bars">
        <span></span>
      </span>
      <!-- END / MENU BAR -->
    </div>
  </div>
  <!-- END / HEADER LOGO & MENU -->
</header>