.about_section {
  padding: 250px 15px 100px;
}

/* General styles for the section */
.parallax-section {
  background-image: url("../../images/about-us/bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom !important;
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  .parallax-section {
    background-position: center center !important;
    background-attachment: scroll !important; /* Disable parallax effect on mobile */
  }

  .awe-parallax {
    background-position: center center !important;
    background-attachment: scroll !important;
    transform: none !important; /* Disable any transformations that the library might add */
  }

  /* Additional override for higher specificity */
  .section-home-guestbook.awe-parallax.bg-13 {
    background-position: center center !important;
    background-attachment: scroll !important;
  }
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  .parallax-section {
    background-position: center center !important; /* changed from left center */
  }

  /* Override the parallax effect on mobile */
  .awe-parallax {
    background-attachment: scroll !important;
    background-position: center center !important; /* centers the image */
  }
}

*/ .parallax-section::before,
.parallax-section::after {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (min-width: 992px) {
  .parallax-section::before,
  .parallax-section::after {
    height: 70px;
  }
}

.awe-parallax {
  background-position: center 45% !important;
  height: 480px;
}

.guestbook-section {
  padding: 150px 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guestbook-section h2 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.guestbook-section h2::after {
  content: "";
  display: block;
  width: 10px;
  height: 4px;
  background-color: #000000;
  margin: 26px auto;
}

.guestbook-content .text {
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 2.5 !important;
}

.guestbook-content .text * {
  color: #000000 !important;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2 !important;
}

.guestbook-item .text p:before {
  left: -10px;
  top: -20px;
}

.owl-controls .owl-pagination .owl-page.active {
  background-color: #000000;
}

.owl-controls .owl-pagination .owl-page {
  border-color: #000000;
  border-width: 1px;
}
